* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(/showcase.jpg);
  background-color: #3e2f40;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3e2f40;
  height: 50px;
  align-items: center;
  top: 0;
  position: fixed;
}
#brand-name {
  margin-left: 20px;
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}
.header-container ul li a {
  color: black;
  font-size: 20px;
  margin-right: 50px;
  text-decoration: none;
  font-weight: bold;
}
li a:hover {
  background-color: #3e2f40;
  color: black;
  border-radius: 10px;
  padding: 15px;
}

.image a:hover {
  opacity: 0.8;
}
img {
  width: 350px;
  height: 350px;
  border-radius: 50px;
}
.main {
  margin-left: 10px;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-paragraph {
  font-size: 20px;
  margin: 20px;
}
hr {
  background-color: #643b69;
}
h3 {
  margin-left: 20px;
  text-align: center;
  margin: 20px;
}
.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 80px;
}
.contact-section div {
  margin: 15px;
}
input {
  padding: 10px;
  height: 30px;
  width: 80%;
  border-radius: 8px;
  outline-color: #643b69;
  background-color: #3e2f40;
  color: white;
}
textarea {
  color: white;
  background-color: #3e2f40;
  padding: 15px;
  margin-left: 20px;
  border-radius: 15px;
}
select {
  border-radius: 5px;
  background-color: #3e2f40;
}
button {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: #3e2f40;
}
button:hover {
  background-color: #643b69;
}
.footer-section {
  font-size: x-small;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: #3e2f40;
  bottom: 0;
  position: relative;
}
.footer-section div {
  margin: 10px;
}
